.success-change-password {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow-subtle);
    background: var(--character-light-primary-inverse);
    padding: 64px 85.5px 56px;
    align-items: center;
    justify-content: center;
    width: 539px;
    text-align: center;
    gap: var(--spacing-global-gap);
}

.block-title {
    line-height: 0;
}

.success-change-password .ant-btn.ant-btn-block {
    width: 368px;
}

@media screen and (max-width: 576px) {
    .success-change-password .ant-btn.ant-btn-block {
        width: 296px;
    }

    .success-change-password {
        padding: var(--result-page-padding-mobile);
    }
}
