.card-user-joint-training {
    width: 234px;
    padding: 16px 16px 8px;
    display: flex;
    flex-direction: column;
    gap: var(--element-gap);
    border: 1px solid var(--character-light-dividers);
    border-radius: 2px;
    background: var(--primary-light-1);
}

.card-user-joint-training .card-user-joint-training__header {
    display: flex;
    gap: var(--list-item-gap);
}

.card-user-joint-training .card-user-joint-training__header .name {
    font-size: var(--smallFontSize);
    line-height: 18.2px;
    width: 75px;
}

.card-user-joint-training .card-user-joint-training__details {
    display: flex;
    justify-content: space-between;
}

.card-user-joint-training .type__wrapper,
.card-user-joint-training .value__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-user-joint-training .type {
    font-size: var(--extraSmallFontSize);
    line-height: 15.6px;
    color: var(--character-light-secondary-45);
}

.card-user-joint-training .value {
    font-size: var(--smallFontSize);
    line-height: 18.2px;
    color: var(--primary-light-6);
}

.card-user-joint-training .btn__create-training {
    margin-top: 8px;
}

.card-user-joint-training .message {
    font-size: var(--extraSmallFontSize);
    line-height: 15.6px;
    text-align: center;
}

.card-user-joint-training .color {
    background: var(--neutral-gray-2);
}

.card-user-joint-training .hidden {
    visibility: hidden;
}

@media only screen and (max-width: 576px) {
    .card-user-joint-training {
        width: 312px;
    }
}
