.training-page__content .modal-training-edit {
    width: 253px;
}

.info-training__header {
    display: flex;
    gap: var(--element-gap);
    padding: 16px 8px;
}

@media screen and (max-width: 576px) {
    .training-page__content .modal-training-edit {
        width: 312px;
    }
}
