.modal-card-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: display;
    backdrop-filter: blur(5px);
    background-color: rgba(121, 156, 212, 0.5);
}

.modal-card-partner__content {
    position: relative;
    width: 539px;
    padding: 40px 31px;
    display: flex;
    flex-direction: column;
    background: var(--neutral-gray-1);
    gap: var(--spacing-global-gap);
}

.modal-card-partner__content .fullName {
    font-size: var(--smallFontSize);
}

.modal-card-partner__header {
    display: flex;
    gap: var(--list-item-gap);
}

.modal-card-partner__header .name {
    width: 75px;
}

.modal-card-partner__content .wrapper {
    display: flex;
}

.modal-card-partner__content .modal-card-partner__details {
    display: flex;
    gap: var(--spacing-content-gap);
    width: 237.5px;
}

.modal-card-partner__content .type__wrapper,
.modal-card-partner__content .value__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-card-partner__content .type {
    font-size: var(--extraSmallFontSize);
    line-height: 15.6px;
    color: var(--character-light-secondary-45);
}

.modal-card-partner__content .value {
    font-size: var(--smallFontSize);
    line-height: 18.2px;
    color: var(--primary-light-6);
}

.modal-card-partner__content .btn__cancel-training {
    margin-right: 32px;
    font-size: var(--smallFontSize);
    padding-left: 28px;
    padding-right: 28px;
}

.modal-card-partner__content .wrapper {
    align-items: center;
}

@media screen and (max-width: 576px) {
    .modal-card-partner__content {
        width: 312px;
        padding: 16px 12px;
        flex-direction: column;
        gap: var(--spacing-content-gap);
    }

    .modal-card-partner__content .btn__cancel-training {
        margin-right: 0;
        margin-bottom: 4px;
        width: 100%;
    }

    .modal-card-partner__content .wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-card-partner__content .modal-card-partner__details {
        width: 288px;
    }

    .modal-card-partner__content .wrapper {
        align-items: self-start;
        gap: var(--element-gap);
    }

    .modal-card-partner__content .message {
        order: 1;
        width: 100%;
        text-align: center;
    }
}
