.monthly-load-list {
    display: flex;
    column-gap: 100px;
    flex-wrap: wrap;
    row-gap: 16px;
    padding: 8px 0;
}

.monthly-load-list
    .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 0;
}

.monthly-load-list .ant-collapse-icon-position-end > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
}

.monthly-load-list .ant-collapse-header-text {
    line-height: 18px;
}

.monthly-load-list .ant-badge-not-a-wrapper {
    width: 16px;
}

.monthly-load-list .table-row .day {
    width: 77px;
}

.monthly-load-list .table-row .value {
    white-space: nowrap;
}
