.error-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow-subtle);
    background: var(--character-light-primary-inverse);
    border-radius: var(--border-radius-subtle);
    padding: var(--result-page-padding);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--spacing-global-gap);
}

.error-login .ant-btn.ant-btn-block {
    width: 368px;
}

.icon-error-login {
    display: block;
    width: 71px;
    height: 62px;
    margin: 9.38px 5px;
}

@media screen and (max-width: 576px) {
    .error-login .ant-btn.ant-btn-block {
        width: 296px;
    }

    .error-login {
        padding: var(--result-page-padding-mobile);
    }
}
