.events {
    list-style: none;
    padding-left: 0;
}

.events li {
    font-size: var(--extraSmallFontSize);
    line-height: 15.6px;
}

.marker {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: var(--border-radius-large);
    margin-right: var(--subtle-right-margin);
    margin-bottom: 2px;
}
