.card-message {
    padding: 20px 20px 20px 12px;
    display: flex;
    gap: var(--list-item-gap);
    background: var(--neutral-gray-1);
    border-radius: 2px 16px 16px;
}

.card-message .card-message__info-author {
    display: flex;
    flex-direction: column;
    gap: var(--element-gap);
    width: 174px;
    justify-content: center;
    align-items: center;
}

.card-message .fullName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-message .name,
.card-message .surname {
    font-size: var(--defaultFontSize);
    line-height: 20.8px;
}

.card-message .card-message__content {
    display: flex;
    flex-direction: column;
    gap: var(--list-item-gap);
    width: 660px;
}

.card-message .date {
    font-size: 12px;
    line-height: 15.6px;
    color: var(--neutral-gray-6);
}

.card-message .card-message__message {
    font-size: var(--defaultFontSize);
    line-height: 20.8px;
    font-weight: 700;
    color: var(--primary-light-9);
}

.card-message .btn-details {
    text-align: left;
    padding-left: 0;
    height: 26px;
}

.card-message .btn__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-content-gap);
    font-size: var(--smallFontSize);
}

.card-message .btn-joint {
    background: var(--primary-light-6);
    font-size: var(--smallFontSize);
    position: relative;
    z-index: 2;
}

.card-message .btn-reject {
    font-size: var(--smallFontSize);
}

@media only screen and (max-width: 900px) {
    .card-message {
        display: flex;
        gap: var(--spacing-content-gap);
        flex-wrap: wrap;
        justify-content: left;
    }

    .card-message .card-message__content {
        width: 100%;
    }

    .card-message .card-message__content {
        gap: var(--element-gap);
    }

    .card-message .btn__wrapper {
        gap: var(--element-gap);
    }

    .card-message .card-message__info-author {
        justify-content: left;
        align-items: flex-start;
        flex-direction: row;
    }

    .card-message .fullName {
        text-align: left;
    }

    .card-message .btn__wrapper {
        width: 474px;
    }
}

@media only screen and (max-width: 576px) {
    .card-user-joint-training {
        width: 312px;
    }
}
