.drawer-info-user {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 8px;
}

.drawer-info-user .fullName {
    font-size: var(--smallFontSize);
    text-align: left;
}
