.change-password {
    background-image: url('/png/blure.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: var(--default-padding-left);
    padding-right: var(--default-padding-right);
}

.change-password__content {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-subtle);
    box-shadow: var(--box-shadow-subtle);
    background: var(--character-light-primary-inverse);
    padding: 64px 88.5px;
    align-items: center;
    justify-content: center;
    width: 539px;
}

.change-password .ant-btn.ant-btn-block {
    width: 368px;
}

.change-password__content .title {
    margin-bottom: 32px;
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    text-align: center;
}

.change-password .ant-form-item {
    margin-bottom: var(--no-bottom-margin);
}

.change-password .ant-input,
.change-password .ant-input-affix-wrapper {
    padding: 8px 12px;
}

.change-password .ant-form-item:nth-child(1) {
    margin-bottom: 45px;
}

.change-password .ant-form-item:nth-child(2) {
    margin-bottom: 62px;
}

.change-password .ant-form-item-with-help .ant-form-item-explain {
    font-size: var(--extraSmallFontSize);
}

.change-password .btn-save {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);
    border: 1px solid var(--primary-light-6);
}

.change-password .ant-form-item-feedback-icon {
    display: none;
}

@media screen and (max-width: 576px) {
    .change-password .ant-btn.ant-btn-block {
        width: 296px;
    }

    .change-password__content {
        padding: var(--result-page-padding-mobile);
    }
}
